.graph-card {
  background: $color-primary2;
  padding: 1em;
  border: 0;
  position: relative;
  width: 100%;

  margin-bottom: 30px;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  &-title {
    font-size: 2rem;
  }
  .graph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dropdown {
      button {
        background-color: $color-primary2 !important;
        color: $color-primary1 !important;
        border: none !important;
        font-size: 1.5rem;
        outline: none !important;
      }

      .dropdown-menu {
        font-size: 1.4rem !important;
        min-width: 100%;
        overflow-y: scroll;
        max-height: 10rem;
        padding: 0.3em 0.7em;
        border-radius: 0.5em;

        .dropdown-item {
          color: $color-primary1 !important;
          padding: 0;
          margin-top: 0.5em;
          &:active {
            color: $color-primary1;
            background: $color-primary2;
          }
        }

        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
        }
      }
    }

    .year-toggle {
      font-size: 1.5rem;
      padding: 0.5em 0.7em;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    .year-toggle-active {
      font-size: 1.5rem;
      padding: 0.5em 0.7em;
      background-color: $color-primary1;
      border-radius: 0.5em;
      color: $color-primary2;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    .month-toggle {
      font-size: 1.5rem;
      padding: 0.5em 0.7em;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    .month-toggle-active {
      font-size: 1.5rem;
      padding: 0.5em 0.7em;
      background-color: $color-primary1;
      border-radius: 0.5em;
      color: $color-primary2;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }

  .graph-line {
    height: 22rem;
  }
}

//media queries
@media only screen and (max-width: 600px) {
  .graph-card {
    margin-top: 2em;
    &-title {
      font-size: 1.5rem;
    }
    .graph-line {
      margin-top: 1em;
    }
  }
}
