.hdetail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .hdetail-main {
    width: 25%;

    padding: 0 1em;
    &:not(:last-child) {
      border-right: 1.3px solid #cbcdd1;
    }
    .hdetail-primary {
      font-size: 1rem;
      color: $color-tertiary2;
      margin-bottom: 0.5em;
      text-align: center;
    }
    .hdetail-secondary {
      font-size: 1.3rem;
      color: $color-tertiary1;
      font-weight: 600;
      text-align: center;
    }
  }
}

//media queries

@media only screen and (max-width: 600px) {
  .hdetail-container {
    margin-top: 2rem;
  }
}
