.main-wrapper {
  background-color: $color-primary1;
  // border-top-left-radius: 2em;
  // border-bottom-left-radius: 2em;
  display: flex;
  position: relative;
  .fixed-div {
    background-image: url("../../assets/blob-shapes.svg");
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position-x: 300px;
    background-position-y: -500px;
    background-repeat: no-repeat;
    border-top-right-radius: 2em;
  }
  .sidenav-container {
    height: 100vh;
    padding: 0.75em;
  }
  .maincontent-wrapper {
    width: 93%;
    background-color: $color-primary2;
    border-radius: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .searchbar-wrapper {
      margin-top: 2.5em;
      margin-left: 2.5em;
      margin-right: 2.5em;
      transition: width 0.5s ease-out;
      display: flex;
      justify-content: space-between;
      .searchbar-container {
        display: flex;
        align-items: center;
        width: 50%;

        .searchbar-input {
          font-size: 1.3rem;

          width: 100%;
          input {
            border: none;
            font-size: 1.5rem;
            color: $color-tertiary2;
            font-weight: 600;
            width: 100%;
            background-color: transparent;
          }
          input:focus {
            outline: none;
          }
          ::placeholder {
            color: #e4e5f2;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .user-icon {
    color: $color-primary1;
  }

  //info section

  .info-section-container {
    display: flex;
    flex-direction: row;
    padding: 3.5em;
    justify-content: space-between;
    .info-section-info {
      .Primary-info {
        font-size: 4rem;
        font-weight: 800;
        color: $color-tertiary1;
      }
      .secondary-info {
        font-size: 2rem;
        color: $color-tertiary2;
        font-weight: 400;
      }
    }
  }
  .cards-wrapper {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
  }

  //see All button
  .seeAll-btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .seeAll-icon {
      fill: $color-primary1;
    }
    .seeAll-info {
      font-size: 1.5rem;
      color: $color-primary1;
    }
    &:hover {
      transform: translateX(5px);
    }
    &:active {
      transform: translateX(0px);
    }
  }
  .sidenav-sm-container {
    display: none;
  }
  //brand sm
  .brand-sm-wrapper {
    display: none;
  }
}

//media queries
@media only screen and (max-width: 700px) {
  .main-wrapper {
    background-color: $color-primary2;
    // border-top-left-radius: 2em;
    // border-bottom-left-radius: 2em;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    .fixed-div {
      background-image: url("../../assets/blob-shapes.svg");
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-position-x: 300px;
      background-position-y: -500px;
      background-repeat: no-repeat;
      border-top-right-radius: 2em;
    }
    .sidenav-container {
      display: none;
    }
    .maincontent-wrapper {
      width: 100%;
      background-color: $color-primary2;
      border-radius: 0;
      margin: 0;

      .searchbar-wrapper {
        margin-top: 2.5em;
        margin-left: 2.3em;
        margin-right: 2.5em;
        transition: width 0.5s ease-out;
        display: flex;
        justify-content: space-between;
        .searchbar-container {
          display: flex;
          align-items: center;
          width: 50%;

          .searchbar-input {
            font-size: 1.3rem;
            color: $color-tertiary2;
            width: 100%;
            input {
              border: none;
              color: $color-tertiary2;
              font-weight: 600;
              width: 100%;
            }
            ::placeholder {
              color: $color-tertiary2;
              font-size: 1.5rem;
            }
          }
        }
        .brand-sm-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          .brand-sm-icon {
            width: 20px;
            height: 20px;
            fill: $color-primary1;
          }
          .brand-sm-info {
            font-size: 1.2rem;
            color: $color-primary1;
            font-weight: 600;
          }
        }
      }
    }
    .user-icon {
      color: $color-primary1;
    }

    //info section

    .info-section-container {
      display: flex;
      flex-direction: column-reverse;
      padding: 1em;

      flex: 2;
      .info-section-info {
        .Primary-info {
          font-size: 4rem;
          font-weight: 800;
          color: $color-tertiary1;
        }
        .secondary-info {
          font-size: 2rem;
          color: $color-tertiary2;
          font-weight: 400;
        }
      }
      .info-section-svg {
        flex: 1;
      }
    }
    .cards-wrapper {
      margin-top: 4em;
      display: flex;
      justify-content: space-evenly;
    }

    //see All button
    .seeAll-btn {
      display: none;
    }
    //mobile
    .sidenav-sm-container {
      background: $color-primary1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      fill: $color-primary2;
      padding: 1em;
      position: fixed;
      width: 100vw;
      bottom: 0;
      -webkit-box-shadow: 0px -11px 8px 0px rgba(0, 0, 0, 0.21);
      box-shadow: 0px -11px 8px 0px rgba(0, 0, 0, 0.21);
    }
  }
}
